@model IEnumerable<SUBDCORE.Models.RawMaterials>

@{
    ViewData["Title"] = "Index";
}
<link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>

<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet" />
<script src="~/js/mvc-grid/mvc-grid.js"></script>
<script src="https://kit.fontawesome.com/7bdebba20f.js" crossorigin="anonymous"></script>
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Добавить сырье</a>
</p>
@(Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(ms => ms.Names).Titled("Наименование сырье");
            columns.Add(ms => ms.Summ).Titled("Сумма");
            columns.Add(ms => ms.Quantity).Titled("Колличество");
            columns.Add(ms => ms.UnitOfMeasureNavigation.Names).Titled("Единица измерения");
            columns.Add(model => $"<a href='" + @Url.Action("Edit", new { id = model.IdRawMaterials }) + "' class='btn btn-warning'><i class='fas fa-edit'></i></a>").Encoded(false);
            columns.Add(model => $"<a href='" + @Url.Action("Delete", new { id = model.IdRawMaterials }) + "' class='btn btn-danger'><i class='fas fa-trash-alt'></i></a>").Encoded(false);

        })
        .Using(GridFilterMode.Header)
        .Empty("Данные не найдены")
        .Sortable()
        .Filterable()
        .Pageable(pager=>
        {
            pager.PageSizes = new Dictionary<int, string>{ { 0, "Все" }, { 5, "5" }, { 10, "10" } };
            pager.ShowPageSizes = true;
            pager.PagesToDisplay = 3;
            pager.CurrentPage = 1;
            pager.RowsPerPage = 5;
        })
    )

<script>
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element))
</script>
