@model IEnumerable<SUBDCORE.Models.FinishedProducts>

@{
    ViewData["Title"] = "Index";
}

<link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>

<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet" />
<script src="~/js/mvc-grid/mvc-grid.js"></script>
@*для icon*@
<script src="https://kit.fontawesome.com/7bdebba20f.js" crossorigin="anonymous"></script>
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-cart-plus"></i>Добавить нового продукта</a>
</p>
@(Html
    .Grid(Model)
    .Build(columns=>
    {
        columns.Add(ms => ms.Names).Titled("Наименование продукта").Sortable(true).Filterable(true);
        columns.Add(ms => ms.Summ).Titled("Сумма продукта").Sortable(true).Filterable(false);
        columns.Add(ms => ms.Quantity).Titled("Колличество продукта").Sortable(true).Filterable(false);
        columns.Add(ms => ms.UnitOfMeasureNavigation.Names).Titled("Единица измерение");
        columns.Add(model => $"<a href='" + @Url.Action("Edit", new { id = model.IdFinishedProducts }) + "' class='btn btn-warning'><i class='fas fa-edit'></i></a>").Encoded(false);
        columns.Add(model => $"<a href='" + @Url.Action("Delete", new { id = model.IdFinishedProducts }) + "' class='btn btn-danger'><i class='fas fa-trash-alt'></i></a>").Encoded(false);

    })
    .Using(GridFilterMode.Excel)
    .Empty("Данные не найдены")
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<int, string> { { 0, "Все" }, { 5, "5" }, { 10, "10" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 5;
    })
    )
<script>
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>